body {
  position: relative;
  background-color: #010509;
  overflow: hidden; /* para evitar scroll inesperado */
}

body::before {
  content: "";
  position: fixed; /* fixo para seguir a rolagem */

background-color: #010509;

  filter: brightness(50%) blur(10px);
  z-index: -1; /* atrás do conteúdo */
}


table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 0 0 15px #048cc0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid red;
}

thead {
    background-color:#04476e;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

thead th {
    padding: 15px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
}

tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #000000;
    font-size: 13px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f24f;
}

tbody tr:hover {
    background-color: #027cb5;
    transition: 0.3s;
    color: white;
}



.total{
    font-size: 11.5pt;
    
}
.thtotal{
    background-color: #04476e;
    color: white;
    height: 4px;
    text-align: center;
}
.imgv {
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
  transition: transform 0.3s ease;
  width: 45px;
  padding-right: 0px;
  transform-origin: left center; /* Origem no lado esquerdo */
}

.imgv:hover {
  transform: translateX(-30px);
}



