<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/static/js_projetos/efeitos.js"></script>
  <link rel="stylesheet" href="/static/cadastro.css" />
  <title>SyncGy Projetos</title>
</head>

<body>
  <header>
  </header>

  <main>
    <div>
      <a href="/" id="backLink">
        <img class="imgv"
          src="/static/imgs/pagina_projetos/keyboard_backspace_35dp_027CB5_FILL0_wght400_GRAD0_opsz40.svg"
          alt="Voltar" />
      </a>
    </div>

    <div class="filtros">
      <!-- input filtro projeto com list -->
      <input type="text" id="filtroProjeto" placeholder="Buscar projeto..." class="inputprojeto" list="listaProjetos" />
      <datalist id="listaProjetos">
        {% for projeto in projetos %}
        <option value="{{ projeto }}">
          {% endfor %}
      </datalist>

      <!-- input filtro categoria com list -->
      <input class="inputcategoria" type="text" id="filtroCategoriaProjeto" placeholder="Buscar categoria..."
        list="listaCategorias" />
      <datalist id="listaCategorias">
        {% for categoria in categorias %}
        <option value="{{ categoria }}">
          {% endfor %}
      </datalist>
    </div>

    <div class="datas">
      <label for="dataInicio" class="labeli">Início</label>
      <input type="date" id="dataInicio" class="dataI" />

      <label class="labelfim" for="dataFim">Fim</label>
      <input type="date" id="dataFim" class="datafim" />
    </div>

    <div class="div_botao_limparfiltro">
      <button id="btnLimparFiltros" class="botao_limpar_filtro">Limpar Filtros</button>
    </div>

    <!-- TABELA PRINCIPAL DOS PROJETOS -->
    <div class="tabela">
      <table>
        <thead>
          <tr>
            {% if cadastros %}
            {% for chave in cadastros[0].keys() %}
            <th class="cabecalho-editavel" contenteditable="false">
              {% if chave == 'nome_projeto' %}
              CLIENTE
              {% elif chave == 'tipo_projeto' %}
              PROJETO
              {% elif chave == 'orcamento' %}
              VALOR COBRADO
              {% elif chave == 'Data_inicio' %}
              DATA PEDIDO
              {% elif chave == 'Data_entrega' %}
              ENTREGA
              {% else %}
              {{ chave|replace('_', ' ')|upper }}
              {% endif %}
            </th>
            {% endfor %}
            {% else %}
            <th>Nenhum dado cadastrado</th>
            {% endif %}
          </tr>
        </thead>
      </table>

      <div class="scroll-tbody">
        <table>
          <tbody id="dados-projetos">
            {% for cadastro in cadastros %}
            <tr>
              {% for chave in cadastro.keys() %}
              {% if chave in ['Data_inicio', 'Data_entrega'] and cadastro[chave] %}
              {% set partes = cadastro[chave].split('-') %}
              <td>{{ partes[2] }}/{{ partes[1] }}/{{ partes[0] }}</td>
              {% else %}
              <td>{{ cadastro[chave] }}</td>
              {% endif %}
              {% endfor %}

              <td>
                <form method="POST" action="{{ url_for('excluir_cadastro') }}">
                  <input type="hidden" name="linha" value="{{ loop.index }}">
                  <button type="submit" class="botao_excluir"
                    onclick="return confirm('Tem certeza que deseja excluir?')">
                    <img src="/static/imgs/pagina_projetos/botao_excluir.svg" alt="">
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- TABELA DO TOTAL (sempre visível) -->
      <table>
        <thead>
          <tr>
            <th class="thtotal">VALOR BRUTO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
              <td class="total" id="totalOrcamento">
          R$ {{ '{:,.2f}'.format(total_orcamento).replace(',', 'X').replace('.', ',').replace('X', '.') }}


          
        </td>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th class="thtotal">TOTAL DE HORAS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="total" id="totalLiquido">
              {{total_horas_formatado}}

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <table>
    <thead>
      <tr>
        <th class="thtotal">TOTAL LIQUÍDO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="total" id="totalOrcamento">
          R$ {{ '{:,.2f}'.format(total_liquido/2).replace(',', 'X').replace('.', ',').replace('X', '.') }}
        </td>
      </tr>
    </tbody>
  </table>


</body>

</html>